deploy/n8n/workflows/ops-command-telegram.json
[
  {
    "updatedAt": "2026-03-19T03:20:00.000Z",
    "createdAt": "2026-03-19T03:20:00.000Z",
    "id": "opsCommandTelegram",
    "name": "Ops command",
    "description": "Receives Telegram bot webhook updates through the public /webhook path, calls the backend read-only ops API, and replies with a short status summary.",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "telegram/ops-command",
          "responseMode": "onReceived",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -640,
          -128
        ],
        "id": "c9d4b31a-d483-4958-a37f-c2f6789d94b7",
        "name": "Telegram Webhook",
        "webhookId": "ops-command-telegram"
      },
      {
        "parameters": {
          "jsCode": "const input = items[0]?.json ?? {};\nconst headers = input.headers && typeof input.headers === 'object' ? input.headers : {};\nconst body = input.body && typeof input.body === 'object' ? input.body : input;\nconst expectedSecret = '__OPS_COMMAND_SHARED_SECRET__';\nconst providedSecret = String(headers['x-telegram-bot-api-secret-token'] ?? headers['X-Telegram-Bot-Api-Secret-Token'] ?? '').trim();\nif (!providedSecret || providedSecret !== expectedSecret) {\n  return [];\n}\n\nconst message = body.message ?? body.edited_message ?? null;\nif (!message) {\n  return [];\n}\n\nconst rawText = String(message.text ?? '').trim();\nif (!rawText) {\n  return [];\n}\n\nconst [firstToken = '', secondToken = ''] = rawText.split(/\\s+/);\nconst normalizedFirst = firstToken.split('@')[0].toLowerCase();\nif (normalizedFirst !== '/ops') {\n  return [];\n}\n\nconst requested = secondToken.trim().toLowerCase() || 'help';\nconst commandMap = {\n  help: 'status.help',\n  version: 'status.version',\n  drift: 'status.drift',\n  overview: 'status.overview',\n};\nconst isSupported = Object.prototype.hasOwnProperty.call(commandMap, requested);\n\nconst actorId = String(message.chat?.id ?? '');\nif (!actorId) {\n  return [];\n}\n\nconst actorName = message.from?.username || [message.from?.first_name, message.from?.last_name].filter(Boolean).join(' ') || 'telegram';\n\nreturn [{\n  json: {\n    reply_chat_id: actorId,\n    actor_id: actorId,\n    actor_name: actorName,\n    raw_text: rawText,\n    requested_command: requested,\n    unsupported_command: isSupported ? '' : requested,\n    command: isSupported ? commandMap[requested] : 'status.help',\n    request_id: `ops-${Date.now()}`,\n  },\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -384,
          -128
        ],
        "id": "ea5e6741-0ccd-4da7-9fd9-ed023adf34ea",
        "name": "Parse Ops Command"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "__OPS_PUBLIC_BASE_URL__/api/proxy/ops/command",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "content-type",
                "value": "application/json"
              },
              {
                "name": "x-ops-command-secret",
                "value": "__OPS_COMMAND_SHARED_SECRET__"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ {\n  \"command\": $('Parse Ops Command').item.json.command,\n  \"arguments\": {},\n  \"request_id\": $('Parse Ops Command').item.json.request_id,\n  \"source\": \"n8n\",\n  \"actor\": {\n    \"id\": $('Parse Ops Command').item.json.actor_id,\n    \"name\": $('Parse Ops Command').item.json.actor_name,\n    \"channel\": \"telegram\",\n    \"role\": \"read_only\"\n  }\n} }}",
          "options": {
            "response": {
              "response": {
                "neverError": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -128,
          -128
        ],
        "id": "73f1af2b-8435-4c8f-95a8-e5483b8fd416",
        "name": "Run Ops Command",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const request = $('Parse Ops Command').item.json ?? {};\nconst api = items[0]?.json ?? {};\nconst lines = [];\n\nif (request.raw_text) {\n  lines.push(`요청: ${request.raw_text}`);\n}\nif (request.unsupported_command) {\n  lines.push(`지원하지 않는 명령: ${request.unsupported_command}`);\n}\nif (api.summary) {\n  lines.push(String(api.summary));\n}\n\nconst details = Array.isArray(api.details) ? api.details.slice(0, 8) : [];\nfor (const detail of details) {\n  lines.push(`- ${String(detail)}`);\n}\nif (!lines.length) {\n  lines.push('응답을 해석할 수 없습니다.');\n}\n\nreturn [{\n  json: {\n    reply_chat_id: request.reply_chat_id,\n    reply_text: lines.join('\\n').slice(0, 3500),\n  },\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          128,
          -128
        ],
        "id": "59cf474e-611a-4fa1-b4df-48ab6f4b130b",
        "name": "Format Reply"
      },
      {
        "parameters": {
          "chatId": "={{$json.reply_chat_id}}",
          "text": "={{$json.reply_text}}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          384,
          -128
        ],
        "id": "7a71c31d-5d41-44ce-b4e7-cf98be86fd82",
        "name": "Send Ops Reply",
        "credentials": {
          "telegramApi": {
            "id": "__N8N_TELEGRAM_CREDENTIAL_ID__",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Telegram Webhook": {
        "main": [
          [
            {
              "node": "Parse Ops Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Ops Command": {
        "main": [
          [
            {
              "node": "Run Ops Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Ops Command": {
        "main": [
          [
            {
              "node": "Format Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Reply": {
        "main": [
          [
            {
              "node": "Send Ops Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    }
  }
]
